[submodule ".vim/pack/vim-wayland-clipboard/start/vim-wayland-clipboard"]
	path = .vim/pack/vim-wayland-clipboard/start/vim-wayland-clipboard
	url = https://github.com/jasonccox/vim-wayland-clipboard.git
