# alternate mappings for "page up" and "page down" to search the history
"\e[5~": history-search-backward
"\e[6~": history-search-forward

set show-mode-in-prompt on

set keymap emacs
"\ea": vi-editing-mode

set keymap vi-command
"\ea": emacs-editing-mode

set keymap vi-insert
"\C-l": clear-screen
"\C-k": history-search-backward
"\C-j": history-search-forward
"\ea": emacs-editing-mode

set editing-mode vi
set vi-cmd-mode-string : \e[0m
set vi-ins-mode-string i \e[0m
#set vi-cmd-mode-string \e[38;5;110;5m: \e[0m
#set vi-ins-mode-string \e[38;5;150mi \e[0m
