# alternate mappings for "page up" and "page down" to search the history
"\e[5~": history-search-backward
"\e[6~": history-search-forward

set show-mode-in-prompt on

set keymap emacs
"\ea": vi-editing-mode

set keymap vi-command
"\ea": emacs-editing-mode

set keymap vi-insert
"\C-l": clear-screen
"\C-k": history-search-backward
"\C-j": history-search-forward
"\ea": emacs-editing-mode

set bind-tty-special-chars off
"\C-w": unix-filename-rubout

set editing-mode vi
set vi-cmd-mode-string :\ 
set vi-ins-mode-string +\ 
